Repository damacus/github-cookstyle-runner: changes, and which lefthook commands are due for each by the changed paths.
All: markdown-lint, yaml-lint, rubocop, rspec

markdown-lint:
  run: markdownlint-cli2 "{staged_files}" --fix
  stage_fixed: true

yaml-lint:
  run: yamllint {staged_files}

rubocop:
  run: bundle exec rubocop --autocorrect {staged_files}
  stage_fixed: true

rspec:
  run: bundle exec rspec

Add command printer
  Gemfile.lock
  TODO.md
  config/initializers/config.rb
  docker-compose.yml
  lib/cookstyle_runner.rb
  lib/cookstyle_runner/cookstyle_operations.rb
  lib/cookstyle_runner/git.rb
  lib/cookstyle_runner/repository_processor.rb
  spec/integration/cache_integration_spec.rb
  spec/integration/full_workflow_spec.rb
  spec/integration/structured_logging_spec.rb
  spec/integration/support/integration_helpers.rb
  spec/lib/cookstyle_runner/cli_spec.rb
  spec/lib/cookstyle_runner/config_manager_spec.rb
Due: markdown-lint, yaml-lint, rubocop, rspec

Deployed dab7632 with MkDocs version: 1.6.1
  CHANGELOG/index.html
  development/semantic-logger-patterns/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  structured-logging/index.html
  usage/basic/index.html
Due: none

fix(docs): Update docs
  .markdownlint-cli2.yaml
  PHASE_2_VERIFICATION.md
  SEMANTIC_LOGGER_MIGRATION_PROGRESS.md
  STRUCTURED_LOGGING_IMPLEMENTATION.md
  docs/CHANGELOG.md
  docs/INSTALLATION.md
  docs/logging.md
  docs/structured-logging.md
Due: markdown-lint, yaml-lint

fix(docs): Update docs (#100)
  .markdownlint-cli2.yaml
  PHASE_2_VERIFICATION.md
  SEMANTIC_LOGGER_MIGRATION_PROGRESS.md
  STRUCTURED_LOGGING_IMPLEMENTATION.md
  docs/CHANGELOG.md
  docs/INSTALLATION.md
  docs/logging.md
  docs/structured-logging.md
Due: markdown-lint, yaml-lint

Deployed b247235 with MkDocs version: 1.6.1
  404.html
  CHANGELOG/index.html
  INSTALLATION/index.html
  configuration/advanced/index.html
  configuration/environment-variables/index.html
  configuration/index.html
  development/architecture/index.html
  development/contributing/index.html
  development/semantic-logger-patterns/index.html
  index.html
  installation/docker-compose/index.html
  installation/index.html
  installation/kubernetes/index.html
  logging/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  structured-logging/index.html
  usage/advanced/index.html
  usage/basic/index.html
  usage/troubleshooting/index.html
Due: none

Update release-please config
  .release-please-config.json
Due: none

Update release-please config (#102)
  .release-please-config.json
Due: none

fix(removate): Update renovate config templates
  renovate.json
Due: none

fix(removate): Update renovate config templates (#103)
  renovate.json
Due: none

Updates
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  mkdocs.yml
Due: yaml-lint

Updates (#104)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  mkdocs.yml
Due: yaml-lint

feat: add clean-prs command to close matching pull requests
  .tool-versions
  TODO.md
  config/settings/local.yml.example
  docker-compose.yml
  lib/cookstyle_runner/cli.rb
  spec/lib/cookstyle_runner/cli_spec.rb
Due: markdown-lint, yaml-lint, rubocop, rspec

Review comments
  lib/cookstyle_runner/cli.rb
  spec/lib/cookstyle_runner/cli_spec.rb
Due: rubocop, rspec

markdown
  CHANGELOG.md
  TODO.md
Due: markdown-lint

Update flakey tests (config loading errors)
  .dockerignore
  .gitignore
  Taskfile.yml
  config/initializers/config.rb
  config/settings.yml
  docker-compose.yml
  spec/lib/cookstyle_runner/cli_spec.rb
  spec/lib/cookstyle_runner/config_loading_spec.rb
  spec/lib/cookstyle_runner/configuration_spec.rb
  spec/lib/cookstyle_runner/github_pr_manager_spec.rb
  spec/spec_helper.rb
Due: yaml-lint, rubocop, rspec

feat: add clean-prs command and fix configuration loading
  .dockerignore
  .gitignore
  .tool-versions
  CHANGELOG.md
  TODO.md
  Taskfile.yml
  config/initializers/config.rb
  config/settings.yml
  config/settings/local.yml.example
  docker-compose.yml
  lib/cookstyle_runner/cli.rb
  spec/lib/cookstyle_runner/config_loading_spec.rb
  spec/lib/cookstyle_runner/configuration_spec.rb
  spec/lib/cookstyle_runner/github_pr_manager_spec.rb
  spec/spec_helper.rb
Due: markdown-lint, yaml-lint, rubocop, rspec

Revert Renovate jank
  renovate.json
Due: none

Revert Renovate jank (#115)
  renovate.json
Due: none

Bundle update
  Gemfile.lock
Due: none

Bundle update (#116)
  Gemfile.lock
Due: none

fix(logging): Update logging output
  docs/development/logging-guidelines.md
  lib/cookstyle_runner/cookstyle_operations.rb
  lib/cookstyle_runner/git.rb
  lib/cookstyle_runner/github_api.rb
  lib/cookstyle_runner/repository_processor.rb
Due: markdown-lint, rubocop, rspec

fix(logging): Update logging output (#121)
  docs/development/logging-guidelines.md
  lib/cookstyle_runner/cookstyle_operations.rb
  lib/cookstyle_runner/git.rb
  lib/cookstyle_runner/github_api.rb
  lib/cookstyle_runner/repository_processor.rb
Due: markdown-lint, rubocop, rspec

refactor: fix unreachable guard clause in repository processor
  lib/cookstyle_runner/repository_processor.rb
  spec/integration/support/integration_helpers_spec.rb
  spec/lib/cookstyle_runner/cookstyle_operations_spec.rb
  spec/lib/cookstyle_runner/log_level_filtering_spec.rb
  spec/lib/cookstyle_runner/repository_processor_spec.rb
Due: rubocop, rspec

refactor: fix unreachable guard clause in repository processor (#123)
  lib/cookstyle_runner/repository_processor.rb
  spec/integration/support/integration_helpers_spec.rb
  spec/lib/cookstyle_runner/cookstyle_operations_spec.rb
  spec/lib/cookstyle_runner/log_level_filtering_spec.rb
  spec/lib/cookstyle_runner/repository_processor_spec.rb
Due: rubocop, rspec

fix: Relax markdown linting configuration (#144)
  .markdownlint-cli2.yaml
Due: yaml-lint

fix: Add automatic Copilot agent assignment for manual fix issues (#142)
  .gitignore
  .markdownlint-cli2.yaml
  .rubocop_todo.yml
  README.md
  config/settings/default.yml
  config/settings/development.yml
  config/settings/test.yml
  config/validators/settings_validator.rb
  lib/cookstyle_runner/config_manager.rb
  lib/cookstyle_runner/github_pr_manager.rb
  lib/cookstyle_runner/settings_validator.rb
  spec/integration/pr_creation_spec.rb
  spec/lib/cookstyle_runner/github_pr_manager_spec.rb
  spec/lib/cookstyle_runner/settings_validator_spec.rb
Due: markdown-lint, yaml-lint, rubocop, rspec

Fix: duplicate YAML key in .markdownlint-cli2.yaml (#150)
  .markdownlint-cli2.yaml
Due: yaml-lint

chore(ci): source renovate-config for auto-merging GitHub Actions (#159)
  renovate.json
Due: none

Refactor: Extract common GitHub operations into reusable helpers (#157)
  lib/cookstyle_runner/github_api.rb
  lib/cookstyle_runner/github_label_helper.rb
  lib/cookstyle_runner/github_pr_helper.rb
  lib/cookstyle_runner/github_pr_manager.rb
  spec/integration/pr_creation_spec.rb
  spec/lib/cookstyle_runner/git_hub_label_helper_spec.rb
  spec/lib/cookstyle_runner/git_hub_pr_helper_spec.rb
  spec/lib/cookstyle_runner/github_pr_manager_spec.rb
Due: rubocop, rspec

Enhance Copilot instructions with development practices (#162)
  .github/copilot-instructions.md
Due: markdown-lint

Fix Renovate configuration preset reference (#161)
  renovate.json
Due: none

Add Sorbet type signature to extract_offenses method (#165)
  lib/cookstyle_runner/cookstyle_operations.rb
Due: rubocop, rspec

Refactor: Extract SemanticLogger regex constant and document config logging rationale (#164)
  config/initializers/config.rb
  spec/integration/support/integration_helpers.rb
Due: rubocop, rspec

feat(docs): Document existing GitHub App and PAT authentication support (#166)
  .markdownlint-cli2.yaml
  README.md
  docs/configuration/authentication.md
  docs/configuration/environment-variables.md
  docs/configuration/index.md
  docs/usage/troubleshooting.md
  mkdocs.yml
Due: markdown-lint, yaml-lint

refactor: single-pass offense counting, retry logic, and code cleanup (#169)
  TODO.md
  lib/cookstyle_runner/cache.rb
  lib/cookstyle_runner/cookstyle_operations.rb
  lib/cookstyle_runner/github_api.rb
  lib/cookstyle_runner/github_pr_manager.rb
  spec/lib/cookstyle_runner/cookstyle_operations_spec.rb
Due: markdown-lint, rubocop, rspec

Cascade snapshot 2026-02-16T07:09:47.579785Z
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .claude/settings.local.json
  .gitattributes
  AGENTS.md
  CLAUDE.md
  config/validators/settings_validator.rb
  lib/cookstyle_runner/authentication.rb
  lib/cookstyle_runner/cache.rb
  lib/cookstyle_runner/cache_entry.rb
  lib/cookstyle_runner/cache_stats.rb
  lib/cookstyle_runner/cookstyle_operations.rb
  lib/cookstyle_runner/formatter.rb
  lib/cookstyle_runner/git.rb
  lib/cookstyle_runner/reporter.rb
  lib/cookstyle_runner/repository_processor.rb
  spec/lint/forbidden_sorbet_types_spec.rb
Due: markdown-lint, yaml-lint, rubocop, rspec

Path conditions:
  markdown-lint: any of: *.md
  yaml-lint: any of: *.{yml,yaml}, but not: vendor/|.venv/
  rubocop: any of: *.rb, but not: vendor/|.venv/
  rspec: any of: *.rb, but not: vendor/|.venv/
