Repository damacus/github-cookstyle-runner: changes, and which lefthook commands are due for each by the changed paths.
All: markdown-lint, yaml-lint, rubocop, rspec

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    markdown-lint:
      glob: "*.md"
      run: markdownlint-cli2 "{staged_files}" --fix
      stage_fixed: true

    yaml-lint:
      glob: "*.{yml,yaml}"
      exclude: "vendor/|.venv/"
      run: yamllint {staged_files}

    rubocop:
      glob: "*.rb"
      exclude: "vendor/|.venv/"
      run: bundle exec rubocop --autocorrect {staged_files}
      stage_fixed: true

    rspec:
      glob: "*.rb"
      exclude: "vendor/|.venv/"
      run: bundle exec rspec

pre-push:
  commands:
    rspec-full:
      run: bundle exec rspec

Update
  Gemfile
  Gemfile.lock
  lib/cookstyle_runner/repository_processor.rb
Due: rubocop, rspec

Fixy fixy markdown
  .beads/README.md
  AGENTS.md
  CLAUDE.md
Due: markdown-lint

refactor: performance improvements and code cleanup (#170)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .claude/settings.local.json
  .gitattributes
  AGENTS.md
  CLAUDE.md
  Gemfile
  Gemfile.lock
  config/validators/settings_validator.rb
  lib/cookstyle_runner/authentication.rb
  lib/cookstyle_runner/cache.rb
  lib/cookstyle_runner/cache_entry.rb
  lib/cookstyle_runner/cache_stats.rb
  lib/cookstyle_runner/cookstyle_operations.rb
  lib/cookstyle_runner/formatter.rb
  lib/cookstyle_runner/git.rb
  lib/cookstyle_runner/reporter.rb
  lib/cookstyle_runner/repository_processor.rb
  spec/lint/forbidden_sorbet_types_spec.rb
Due: markdown-lint, yaml-lint, rubocop, rspec

feat: replace string interpolation with structured logging in cache.rb
  lib/cookstyle_runner/cache.rb
Due: rubocop, rspec

feat: replace string interpolation with structured logging in cache.rb (#172)
  lib/cookstyle_runner/cache.rb
Due: rubocop, rspec

feat: add exponential backoff for GitHub API rate limiting
  config/settings/default.yml
  config/settings/test.yml
  lib/cookstyle_runner/github_api.rb
  lib/cookstyle_runner/github_pr_manager.rb
  lib/cookstyle_runner/retry_with_backoff.rb
Due: yaml-lint, rubocop, rspec

refactor: extract helper methods to reduce RetryWithBackoff method length
  lib/cookstyle_runner/retry_with_backoff.rb
Due: rubocop, rspec

feat: add exponential backoff for GitHub API rate limiting (#173)
  config/settings/default.yml
  config/settings/test.yml
  lib/cookstyle_runner/github_api.rb
  lib/cookstyle_runner/github_pr_manager.rb
  lib/cookstyle_runner/retry_with_backoff.rb
Due: yaml-lint, rubocop, rspec

refactor: eliminate duplicate RepoContext creation in repository_processor.rb
  lib/cookstyle_runner/repository_processor.rb
Due: rubocop, rspec

refactor: eliminate duplicate RepoContext creation in repository_processor.rb (#174)
  lib/cookstyle_runner/repository_processor.rb
Due: rubocop, rspec

feat: add Prometheus metrics for observability
  Gemfile
  Gemfile.lock
  config/settings/default.yml
  config/validators/settings_validator.rb
  docs/grafana-dashboard.json
  docs/metrics.md
  lib/cookstyle_runner.rb
  lib/cookstyle_runner/github_api.rb
  lib/cookstyle_runner/metrics.rb
  lib/cookstyle_runner/repository_processor.rb
  spec/lib/cookstyle_runner/metrics_spec.rb
Due: markdown-lint, yaml-lint, rubocop, rspec

chore(deps): update dependencies and GitHub Actions
  .beads/issues.jsonl
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  Gemfile.lock
  spec/lib/cookstyle_runner/config_loading_spec.rb
  spec/support/vcr.rb
Due: yaml-lint, rubocop, rspec

chore(deps): update dependencies and GitHub Actions (#176)
  .beads/issues.jsonl
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  Gemfile.lock
  spec/lib/cookstyle_runner/config_loading_spec.rb
  spec/support/vcr.rb
Due: yaml-lint, rubocop, rspec

fix: resolve metrics test failures
  config/validators/settings_validator.rb
  lib/cookstyle_runner.rb
  lib/cookstyle_runner/metrics.rb
  lib/cookstyle_runner/repository_processor.rb
  spec/lib/cookstyle_runner/metrics_spec.rb
Due: rubocop, rspec

Fix rubocoo offences and markdownlint errors
  config/validators/settings_validator.rb
  docs/metrics.md
Due: markdown-lint, rubocop, rspec

feat: add Prometheus metrics for observability (#175)
  Gemfile
  Gemfile.lock
  config/settings/default.yml
  config/validators/settings_validator.rb
  docs/grafana-dashboard.json
  docs/metrics.md
  lib/cookstyle_runner.rb
  lib/cookstyle_runner/github_api.rb
  lib/cookstyle_runner/metrics.rb
  lib/cookstyle_runner/repository_processor.rb
  spec/lib/cookstyle_runner/metrics_spec.rb
Due: markdown-lint, yaml-lint, rubocop, rspec
