Repository damacus/github-cookstyle-runner: changes, and which lefthook commands are due for each by the changed paths.
All: markdown-lint, yaml-lint, rubocop, rspec

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    markdown-lint:
      glob: "*.md"
      run: markdownlint-cli2 "{staged_files}" --fix
      stage_fixed: true

    yaml-lint:
      glob: "*.{yml,yaml}"
      exclude: "vendor/|.venv/"
      run: yamllint {staged_files}

    rubocop:
      glob: "*.rb"
      exclude: "vendor/|.venv/"
      run: bundle exec rubocop --autocorrect {staged_files}
      stage_fixed: true

    rspec:
      glob: "*.rb"
      exclude: "vendor/|.venv/"
      run: bundle exec rspec

pre-push:
  commands:
    rspec-full:
      run: bundle exec rspec

refactor: improve CLI error handling and code quality
  lib/cookstyle_runner/cli.rb
Due: rubocop, rspec

chore: add Lefthook pre-commit configuration
  lefthook.yml
Due: yaml-lint

refactor: extract validation logic and regex pattern
  .windsurf/workflows/copilot-review.md
  lib/cookstyle_runner/cli.rb
Due: markdown-lint, rubocop, rspec

Update .windsurf/workflows/copilot-review.md
  .windsurf/workflows/copilot-review.md
Due: markdown-lint

Update lib/cookstyle_runner/cli.rb
  lib/cookstyle_runner/cli.rb
Due: rubocop, rspec

chore: CLI improvements and Lefthook integration (#79)
  .windsurf/workflows/copilot-review.md
  lefthook.yml
  lib/cookstyle_runner/cli.rb
Due: markdown-lint, yaml-lint, rubocop, rspec

feat: add VCR and integration test infrastructure (Phase 1)
  Gemfile
  Gemfile.lock
  spec/integration/cli_commands_spec.rb
  spec/integration/support/integration_helpers.rb
  spec/spec_helper.rb
  spec/support/vcr.rb
Due: rubocop, rspec

feat: add comprehensive integration tests (Phase 2)
  spec/integration/cache_integration_spec.rb
  spec/integration/full_workflow_spec.rb
  spec/integration/github_api_spec.rb
  spec/integration/repository_processing_spec.rb
Due: rubocop, rspec

refactor: address Copilot review comments on integration tests
  spec/integration/support/integration_helpers.rb
  spec/support/vcr.rb
Due: rubocop, rspec

[Codex Review] Phase 1 improvements
  lib/cookstyle_runner/cli.rb
  spec/integration/cli_commands_spec.rb
  spec/integration/support/integration_helpers.rb
Due: rubocop, rspec

Improve cache integration assertions
  lib/cookstyle_runner/cli.rb
  spec/integration/cache_integration_spec.rb
  spec/integration/support/integration_helpers.rb
Due: rubocop, rspec

Update VCR tests
  Gemfile.lock
  config/initializers/config.rb
  lib/cookstyle_runner/github_pr_manager.rb
  lib/cookstyle_runner/repository_processor.rb
  lib/cookstyle_runner/settings_validator.rb
  spec/integration/pr_creation_spec.rb
  spec/lib/cookstyle_runner/github_pr_manager_spec.rb
  spec/support/vcr.rb
Due: rubocop, rspec

fix: PR description now shows only changed files
  .dockerignore
  .envrc
  Dockerfile
  Taskfile.yml
  config/settings/development.yml
  config/settings/local.yml.example
  docker-compose.yml
  lib/cookstyle_runner/configuration.rb
  lib/cookstyle_runner/cookstyle_operations.rb
  lib/cookstyle_runner/formatter.rb
  lib/cookstyle_runner/git.rb
  lib/cookstyle_runner/github_pr_manager.rb
  lib/cookstyle_runner/repository_manager.rb
  lib/cookstyle_runner/repository_processor.rb
  sorbet/rbi/annotations/sawyer_github_extensions.rbi
  spec/integration/pr_creation_spec.rb
  spec/lib/cookstyle_runner/configuration_spec.rb
  spec/lib/cookstyle_runner/cookstyle_operations_spec.rb
  spec/lib/cookstyle_runner/formatter_spec.rb
  spec/lib/cookstyle_runner/git_spec.rb
  spec/lib/cookstyle_runner/github_pr_manager_spec.rb
  spec/lib/cookstyle_runner/repository_manager_spec.rb
  spec/lib/cookstyle_runner/repository_processor_spec.rb
Due: yaml-lint, rubocop, rspec

fix: address Copilot review comments
  lib/cookstyle_runner/cli.rb
  lib/cookstyle_runner/repository_manager.rb
  spec/integration/support/integration_helpers.rb
  spec/lib/cookstyle_runner/github_pr_manager_spec.rb
Due: rubocop, rspec

refactor: simplify cache stats key access
  lib/cookstyle_runner/cli.rb
Due: rubocop, rspec

fix: require octokit in github_pr_manager_spec
  spec/lib/cookstyle_runner/github_pr_manager_spec.rb
Due: rubocop, rspec

fix: make VCR configuration safe for CI without tokens
  spec/support/vcr.rb
Due: rubocop, rspec

docs: add comprehensive integration test documentation
  spec/integration/README.md
Due: markdown-lint

Pending
  spec/integration/pr_creation_spec.rb
Due: rubocop, rspec

feat: add VCR and integration test infrastructure
  .dockerignore
  .envrc
  Dockerfile
  Gemfile
  Gemfile.lock
  Taskfile.yml
  config/initializers/config.rb
  config/settings/development.yml
  config/settings/local.yml.example
  docker-compose.yml
  lib/cookstyle_runner/cli.rb
  lib/cookstyle_runner/configuration.rb
  lib/cookstyle_runner/cookstyle_operations.rb
  lib/cookstyle_runner/formatter.rb
  lib/cookstyle_runner/git.rb
  lib/cookstyle_runner/github_pr_manager.rb
  lib/cookstyle_runner/repository_manager.rb
  lib/cookstyle_runner/repository_processor.rb
  lib/cookstyle_runner/settings_validator.rb
  sorbet/rbi/annotations/sawyer_github_extensions.rbi
  spec/integration/README.md
  spec/integration/cache_integration_spec.rb
  spec/integration/cli_commands_spec.rb
  spec/integration/full_workflow_spec.rb
  spec/integration/github_api_spec.rb
  spec/integration/pr_creation_spec.rb
  spec/integration/repository_processing_spec.rb
  spec/integration/support/integration_helpers.rb
  spec/lib/cookstyle_runner/configuration_spec.rb
  spec/lib/cookstyle_runner/cookstyle_operations_spec.rb
  spec/lib/cookstyle_runner/formatter_spec.rb
  spec/lib/cookstyle_runner/git_spec.rb
  spec/lib/cookstyle_runner/github_pr_manager_spec.rb
  spec/lib/cookstyle_runner/repository_manager_spec.rb
  spec/lib/cookstyle_runner/repository_processor_spec.rb
  spec/spec_helper.rb
  spec/support/vcr.rb
Due: markdown-lint, yaml-lint, rubocop, rspec

Update bundler version
  Gemfile.lock
Due: none

Update bundler version (#82)
  Gemfile.lock
Due: none

feat: Add extract_offenses method to CookstyleOperations
  lib/cookstyle_runner/cookstyle_operations.rb
  spec/lib/cookstyle_runner/cookstyle_operations_spec.rb
Due: rubocop, rspec

feat: Add extract_offenses method to CookstyleOperations (#83)
  lib/cookstyle_runner/cookstyle_operations.rb
  spec/lib/cookstyle_runner/cookstyle_operations_spec.rb
Due: rubocop, rspec

Add docs
  .github/workflows/docs.yml
  README.md
  docs/CHANGELOG.md
  docs/INSTALLATION.md
  docs/configuration/advanced.md
  docs/configuration/environment-variables.md
  docs/configuration/index.md
  docs/development/architecture.md
  docs/development/contributing.md
  docs/index.md
  docs/installation/docker-compose.md
  docs/installation/index.md
  docs/installation/kubernetes.md
  docs/logging.md
  docs/usage/advanced.md
  docs/usage/basic.md
  docs/usage/troubleshooting.md
  mkdocs.yml
Due: markdown-lint, yaml-lint

feat: Add enhanced logging with JSON format and component filtering
  config/settings/default.yml
  docs/logging.md
  lib/cookstyle_runner.rb
  lib/cookstyle_runner/logger.rb
  spec/integration/pr_creation_spec.rb
  spec/lib/cookstyle_runner/authentication_spec.rb
  spec/lib/cookstyle_runner/cache_spec.rb
  spec/lib/cookstyle_runner/configuration_spec.rb
  spec/lib/cookstyle_runner/git_spec.rb
  spec/lib/cookstyle_runner/github_pr_manager_spec.rb
  spec/lib/cookstyle_runner/logger_spec.rb
  spec/lib/cookstyle_runner/repository_processor_spec.rb
Due: markdown-lint, yaml-lint, rubocop, rspec

Fx
  .github/workflows/docs.yml
  docker-compose.yml
  docs/INSTALLATION.md
  docs/logging.md
  mkdocs.yml
Due: markdown-lint, yaml-lint

Add Docs (#84)
  .github/workflows/docs.yml
  README.md
  docker-compose.yml
  docs/CHANGELOG.md
  docs/configuration/advanced.md
  docs/configuration/environment-variables.md
  docs/configuration/index.md
  docs/development/architecture.md
  docs/development/contributing.md
  docs/index.md
  docs/installation/docker-compose.md
  docs/installation/index.md
  docs/installation/kubernetes.md
  docs/usage/advanced.md
  docs/usage/basic.md
  docs/usage/troubleshooting.md
  mkdocs.yml
Due: markdown-lint, yaml-lint

refactor: replace Object.const_get with direct Settings reference
  lib/cookstyle_runner.rb
Due: rubocop, rspec

Revert "refactor: replace Object.const_get with direct Settings reference"
  lib/cookstyle_runner.rb
Due: rubocop, rspec

logging (#85)
  .github/workflows/docs.yml
  config/settings/default.yml
  docs/INSTALLATION.md
  docs/logging.md
  lib/cookstyle_runner.rb
  lib/cookstyle_runner/logger.rb
  spec/integration/pr_creation_spec.rb
  spec/lib/cookstyle_runner/authentication_spec.rb
  spec/lib/cookstyle_runner/cache_spec.rb
  spec/lib/cookstyle_runner/configuration_spec.rb
  spec/lib/cookstyle_runner/git_spec.rb
  spec/lib/cookstyle_runner/github_pr_manager_spec.rb
  spec/lib/cookstyle_runner/logger_spec.rb
  spec/lib/cookstyle_runner/repository_processor_spec.rb
Due: markdown-lint, yaml-lint, rubocop, rspec

Deployed cc4ad87 with MkDocs version: 1.6.1
  INSTALLATION/index.html
  logging/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Update workflows
  .github/workflows/release.yml
  .release-please-config.json
  .release-please-manifest.json
Due: yaml-lint

Update workflows (#88)
  .github/workflows/release.yml
  .release-please-config.json
  .release-please-manifest.json
Due: yaml-lint

Fix some output
  docker-compose.yml
  lib/cookstyle_runner/cli.rb
Due: yaml-lint, rubocop, rspec
